body {
    background: #333;
    padding: 0px;
    color: #ddd;
}

header {
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: 150px;
    margin-bottom: 0;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

p {
    padding-left: 40px;
}

.ProgressCircleInfo {
    padding-left: 15px;
}

#progress_circle_info_0 {
    padding-bottom: 8px;
}

#progress_circle_info_1 {
    margin-top: 2px;
}

.ProgressCircleInfo {
    font-size: 12px;
}

#main_canvas {
    position: absolute;
    left: 180px;
    top: 60px;
}

#wrapper {
    width: 760px;
    margin-left: 50px;
    position: absolute;
    top: 350px;
}

#intro {
    margin-bottom: 40px;
}


.content {
    padding-top: 5px;
    margin-bottom: 50px;
}

#download a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #ddd;
    margin-right: 50px;
}

#download a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
